
@{
    Layout = null;
}

<style>
    .dropArea {
        border: #6cbd6c dashed 1px;
        height: 250px;
        text-align: center;
        color: #fff;
    }


    /*
    .active-drop {
        background: #77bafa !important;
        border: solid 2px blue !important;
        opacity: .5;
        color: black !important;
    }*/
</style>


<div class="col-lg-11 col-lg-offset-0-5 m-t-10">
    <input id="hdnEstado" type="hidden" style="display: block;" />
    <div id="target1" class="panel move panel-inverse active">
        <div class="panel-heading"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Lista de Plantas medicinales</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6 ">
                    @*@if (FrontUser.TienePermiso(RolesPermisos.Usu_Nuevo_Usuario))
                        {*@
                    <input href="#target2" id="btnNuevoRegistro" type="button" class="btn btn-sm btn-success target" value="Nuevo Registro" />
                    @*}*@
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row m-b-10 m-t-10">
                <div class="col-sm-11">
                    <div class="form-inline">
                        <div class="form-group m-r-10">
                            <label class="control-label m-r-5" for="product_name">Buscar:</label>
                        </div>
                        <div class="form-group">
                            <input type="text" id="txtValor" class="form-control" placeholder="Nombre Común, Sinonimia, Nombre Científico...">
                        </div>
                        <input id="btnBuscarPlanta" type="button" value="Buscar" class="btn btn-sm btn-success">
                    </div>
                </div>
            </div>
            <div class="row table-main">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="cntListaPlantas" class="table-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12 ">
    <div id="target2" class="move panel-inverse m-t-10" data-sortable-id="form-stuff-1" style="display: none;">
        <form role="form" data-toggle="validator" action="" id="frmInventario" autocomplete="off" method="post" class="form-horizontal ng-pristine ng-valid">
            <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
                <div class="panel-heading">
                    <h4 class="panel-title">Ficha de Registro de Plantas Medicinales</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="panel panel-body" style="min-height:256px">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <div id="imgPreview" class="thumbnail dropArea" style="margin-bottom: 5px;">
                                            <img class="img-responsive" id="targetImg" style="max-height:323px;" />
                                        </div>
                                        <div id="data-desc" class="caption" style="display:none">
                                            <a href="#" onclick="ClearPreview()"><i class="glyphicon glyphicon-trash"></i></a>
                                            <span id="description"></span>
                                        </div>
                                        <input type="file" id="imageBrowes" />
                                        <input id="hdnFoto" type="hidden" name="oInv.cFoto" " />
                                        @*<a href="#" class="btn btn-default" onclick="Uploadimage()">Upload</a>*@
                                        @*<hr />*@
                                        @*<div class="btn btn-success">
                                                <input type="file" id="imageBrowes" />
                                            </div>*@
                                    </div>
                                    @*<div class="col-md-12 thumbnail" id="uploadedImage"></div>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div>
                                <!-- Nav tabs -->
                                <ul id="mytabs" class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"> Sección 1 </a></li>
                                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"> Sección 2 </a></li>
                                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"> Sección 3 </a></li>
                                    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"> Sección 4 </a></li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content m-t-5">
                                    <div role="tabpanel" class="tab-pane active" id="home">
                                        <div class="form-group m-b-5">
                                            <input id="hdnPliId" type="hidden" name="oInv.nId" />
                                            <label class="col-md-3 control-label">Código</label>
                                            <div class="col-md-4">
                                                <input type="text" id="txtCodigo" name="oInv.cCodigo" class="form-control" required="">
                                            </div>
                                        </div>
                                        <div class="form-group m-b-5">
                                            <label class="col-md-3 control-label">Nombre Común</label>
                                            <div class="col-md-9">
                                                <input type="text" id="txtNomComun" name="oInv.cNombresComunes" class="form-control" required="">
                                            </div>
                                        </div>
                                        <div class="form-group m-b-5">
                                            <label class="col-md-3 control-label">Sinonimia Vulgar</label>
                                            <div class="col-md-9">
                                                <textarea rows="5" type="text" id="txtSinonimia" name="oInv.cSinonimia" class="form-control" required=""></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group m-b-5">
                                            <label class="col-md-3 control-label">Nombre Científico</label>
                                            <div class="col-md-9">
                                                <input type="text" id="txtNomCient" name="oInv.cNombreCientifico" class="form-control" required="">
                                            </div>
                                        </div>
                                        <div class="form-group m-b-5">
                                            <label class="col-md-3 control-label">Familia</label>
                                            <div class="col-md-9">
                                                <input type="text" id="txtFamilia" name="oInv.cFamilia" class="form-control" required="">
                                            </div>
                                        </div>
                                        <div class="form-group m-b-5">
                                            <label class="col-md-3 control-label">Descripción Botánica</label>
                                            <div class="col-md-9">
                                                <textarea rows="5" type="text" id="txtDesBotanica" name="oInv.cDescripBotanica" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="profile">
                                        <div class="form-group m-b-5">
                                            <label class="col-md-3 control-label">Hábitat</label>
                                            <div class="col-md-9">
                                                <textarea type="text" rows="5" id="txtHabitat" name="oInv.cHabitat" class="form-control"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group m-b-5">
                                            <label class="col-md-3 control-label">Distribución</label>
                                            <div class="col-md-9">
                                                <textarea rows="5" type="text" id="txtDistribucion" name="oInv.cDistribucion" class="form-control"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group m-b-5">
                                            <label class="col-md-3 control-label">Composición Química</label>
                                            <div class="col-md-9">
                                                <textarea rows="5" type="text" id="txtCompoQuimica" name="oInv.cCompoQuimica" class="form-control" ></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group m-b-5">
                                            <label class="col-md-3 control-label">Toxicidad</label>
                                            <div class="col-md-9">
                                                <input type="text" id="txtToxicidad" name="oInv.cToxicidad" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="messages">
                                        <div class="form-group m-b-5">
                                            <label class="col-md-3 control-label">Etnomedicinal</label>
                                            <div class="col-md-9">
                                                <textarea rows="6" type="text" id="txtEtnomedicinal" name="oInv.cEtnomedicinal" class="form-control"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group m-b-5">
                                            <label class="col-md-3 control-label">Forma de empleo</label>
                                            <div class="col-md-9">
                                                <textarea type="text" id="txtEmpleo" name="oInv.cManejo" class="form-control" rows="6"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group m-b-5">
                                            <label class="col-md-3 control-label">Efectos Adversos</label>
                                            <div class="col-md-9">
                                                <input type="text" id="txtEfectos" name="oInv.cInteracciones" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group m-b-5">
                                            <label class="col-md-3 control-label">Otros usos</label>
                                            <div class="col-md-9">
                                                <textarea rows="3" type="text" id="txtUsos" name="oInv.cUsos" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="settings">
                                        <div class="form-group m-b-5">
                                            <label class="col-md-3 control-label">Vaucher</label>
                                            <div class="col-md-9">
                                                <textarea rows="3" type="text" id="txtVaucher" name="oInv.cVaucher" class="form-control"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group m-b-5">
                                            <label class="col-md-3 control-label">Referencias Bibliográficas</label>
                                            <div class="col-md-9">
                                                <textarea rows="6" type="text" id="txtRefBi" name="oInv.cRefeBiblio" class="form-control" required=""></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>









                        </div>
                    </div>
                    <div class="row m-b-10 m-t-10">
                        <div class="text-center">
                            <input type="button" id="btnGrabarInventario" class="btn btn-sm btn-success m-r-5" value="Grabar">
                            <input type="button" id="btnCancelarInventario" data-dismiss="modal" aria-hidden="true" class="btn btn-sm btn-default m-r-5" value="Cancelar">
                        </div>
                    </div>
                    <div id="msg"></div>
                </div>
            </div>

            <div id="cntHidden"></div>
        </form>
    </div>
</div>

@*<script src="~/Content/js/jquery.filedrop.js"></script>*@
<script type="text/javascript">


    $(function () {

        $("#imageBrowes").change(function () {

            var File = this.files;

            if (File && File[0]) {
                ReadImage(File[0]);
            }

        })

        $("#txtFechaNac").mask("99/99/9999", { placeholder: "dd/mm/yyyy" });

        $('input.target').click(function () {
            vista($(this).attr('href'));
        });
    });


    var ReadImage = function (file) {

        var reader = new FileReader;
        var image = new Image;

        reader.readAsDataURL(file);
        reader.onload = function (_file) {

            image.src = _file.target.result;
            image.onload = function () {

                var height = this.height;
                var width = this.width;
                var type = file.type;
                var size = ~~(file.size / 1024) + "KB";

                $("#hdnFoto").val(file.name);
                $("#imgPreview").removeClass("dropArea");
                $("#targetImg").attr('src', _file.target.result);
                $("#description").text("Size:" + size + ", " + height + "X " + width + ", " + type + "");
                $("#data-desc").show();
            }
        }
    }

    var ClearPreview = function () {
        $("#imageBrowes").val('');
        $("#description").text('');
        $("#data-desc").hide();
        $("#targetImg").attr('src', '');
        $("#hdnFoto").val("");
        $("#imgPreview").addClass("dropArea");
    }

    var Uploadimage = function () {

        var file = $("#imageBrowes").get(0).files;

        if (file.length > 0) {
            var data = new FormData;
            data.append("ImageFile", file[0]);
            data.append("ProductName", "SamsungA8");

            $.ajax({
                type: "Post",
                url: '@Url.Action("ImageUpload", "Inventario")',
                data: data,
                contentType: false,
                processData: false,
                success: function (response) {
                    ClearPreview();
                    //$("#targetImg").attr("src", '/ArchivosSubidos/' + response);
                }
            })
        }
    }


    var vista = function ($target) {
        var $target = $($target),
            $other = $('.panel-inverse.active');

        if (!$target.hasClass('active')) {
            $other.each(function (index, self) {
                var $this = $(this);
                $this.removeClass('active').animate({
                    left: $this.width()
                }, 500).hide();
            });

            $target.addClass('active').show().css({
                left: -($target.width())
            }).animate({
                left: 0
            }, 500);
        }
    };

    ListarPlantas();

    function ListarPlantas(nPage, nSize, blo) {
        var valor = $("#txtValor").val();
        valor = valor == "" ? null : valor;


        $.fn.Conexion({
            direccion: '@Url.Action("ListaPlantasPag", "Inventario")',
            datos: { "nPage": nPage, "nSize": nSize, "cValor": valor },
            bloqueo: blo == false ? false : true,
            terminado: function (data) {
                var d = JSON.parse(data);

                $("#cntListaPlantas").Tabla({
                    tblId: "tblPlantasMedicinales",
                    cabecera: "#,Codigo,Nombre Común,Nombre Científico,Familia",
                    campos: "nId,cCod,cNomCom,cNomCie,cFam",
                    scrollVertical: "Si",
                    alinear: "C,C,C,C,C,C",
                    cellLen: "70,70,100,100,100,60,60",
                    cantRegVertical: 15,
                    pag: true,
                    pagDato: { "nPage": d.nPage, "nPageTot": d.nPageTot, "nPageSize": d.nPageSize, "nRows": d.nRows },
                    pagEvent: ListarPlantas,
                    edit: true,
                    elim: true,
                    dblClick: true,
                    editEvent: function (fila) {
                        var nInv = fila.find("td").eq(0).html();
                        console.log(nInv);
                        $("#hdnEstado").val("E");
                        $('input.target')[0].click();
                        //$("#txtUsu").attr("disabled", true);

                        $.fn.Conexion({
                            direccion: '@Url.Action("CargarDatosIventario", "Inventario")',
                            datos: { "nInv": nInv },
                            terminado: function (data, textStatus, jqXHR) {
                                var oInv = JSON.parse(data);

                                console.log(oInv);

                                $("#txtCodigo").val(oInv.cCod);
                                $("#txtCompoQuimica").val(oInv.cComQui);
                                $("#txtDesBotanica").val(oInv.cDesc);
                                $("#txtDistribucion").val(oInv.cDist);
                                $("#txtEtnomedicinal").val(oInv.cEtno);
                                $("#txtFamilia").val(oInv.cFam);
                                $("#txtHabitat").val(oInv.cHab);
                                $("#txtEfectos").val(oInv.cInterac);
                                $("#txtEmpleo").val(oInv.cManejo);
                                $("#txtNomCient").val(oInv.cNomCie);
                                $("#txtNomComun").val(oInv.cNomCom);
                                $("#txtRefBi").val(oInv.cRefBi);
                                $("#txtSinonimia").val(oInv.cSino);
                                $("#txtToxicidad").val(oInv.cToxi);
                                $("#txtUsos").val(oInv.cUsos);
                                $("#txtVaucher").val(oInv.cVaucher);
                                $("#hdnPliId").val(oInv.nId);
                                if (oInv.cFoto) {
                                    $("#targetImg").attr("src", '/ArchivosSubidos/' + oInv.cFoto);
                                    $("#imgPreview").removeClass("dropArea");
                                }

                                //$("#uploadedImage").append('<img src="/ArchivosSubidos/' + oInv.cFoto + '" class="img-responsive thumbnail"/>');
                            },
                            bloqueo: true
                        });
                    },
                    elimEvent: function (fila, nPage) {
                        var nInv = fila.find("td").eq(0).html();

                        $.fn.Conexion({
                            direccion: '@Url.Action("EliminarIventario", "Inventario")',
                            datos: { "nInv": nInv },
                            terminado: function (data, textStatus, jqXHR) {
                                ListarPlantas(nPage, 10);
                            },
                            bloqueo: false
                        });

                    },
                    datos: d.oLista
                });
            }
        });
    }

    $("#btnBuscarPlanta").bind("click", function () {
        ListarPlantas();
    });

    $("#txtValor").keyup(function (e) {
        if (e.which == 13) { ListarPlantas(); }
    });

    //$("#btnBuscarPers").bind("click", function () {
    //    BuscarPersona($("#txtBuscarPers").val());
    //});

    //$("#txtBuscarPers").bind("keyup", function (e) {
    //    if (e.which == 13) { BuscarPersona($(this).val()); };
    //});



    //Registrar Inventario

    $("#btnGrabarInventario").bind("click", function () {
        var form = $("#frmInventario");
        form.validator();

        var validator = form.data("bs.validator");
        validator.validate();

        if (!validator.hasErrors()) {

            Uploadimage();
            //var radio = $('input[name="inputWalls"]:checked').val();
            //CrearHidden("#cntHidden", "oUsu.bEsInterno", (radio == "1" ? true : false));
            valores = form.serializeArray();

            $.fn.Conexion({
                direccion: '@Url.Action("RegistrarModificarInventario", "Inventario")',
                datos: valores,
                terminado: function (data, textStatus, jqXHR) {
                    Resultado(data);
                },
                bloqueo: false
            });
        } else {
            alerta("#msg", "Es necesario completar los campos que están en rojo.");
        }
    });

    $("#btnCancelarInventario").bind("click", function () {
        Limpiar();
        vista("#target1");
    });

    function Limpiar() {
        $('#frmInventario')[0].reset();
        $("#hdnPliId").val("");
        $("#msg").html("");
        $("#imgPreview").addClass("dropArea");
        $('#mytabs a:first').tab('show');
        ClearPreview();
    }

    function Resultado(dato) {
        if (dato > 0) {
            if ($("#hdnEstado").val() == "E") {
                $.fn.Mensaje({ titulo: "Mensaje", mensaje: "La modificación se realizó correctamente", funcionAceptar: Limpiar });
            } else {
                $.fn.Mensaje({ titulo: "Mensaje", mensaje: "El registro se realizó correctamente", funcionAceptar: Limpiar });
            }
            ListarPlantas(1, 10, false);
        } else if (dato == -1) {
            $.fn.Mensaje({ titulo: "Mensaje", mensaje: "La operación no se realizó correctamente" });
        }
    }



</script>
