@{
    Layout = null;
}
<div class="col-lg-11 col-lg-offset-0-5">
    <h3 class="text-center">USUARIOS</h3>
    <input id="hdnEstado" type="hidden" style="display: block;" />
    <div id="target1" class="panel move panel-inverse active">
        <div class="panel-heading"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Lista de Usuarios</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6 ">
                    @*@if (FrontUser.TienePermiso(RolesPermisos.Usu_Nuevo_Usuario))
                        {*@
                    <input href="#target2" id="btnNuevoUsuario" type="button" class="btn btn-sm btn-success target" value="Nuevo Usuario" />
                    @*}*@
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row m-b-10 m-t-10">
                <div class="col-sm-11">
                    <div class="form-inline">
                        <div class="form-group m-r-10">
                            <label class="control-label m-r-5" for="product_name">Buscar:</label>
                        </div>
                        <div class="form-group">
                            <input type="text" id="txtValor" class="form-control" placeholder="usuario, nombre, email">
                        </div>
                        <input id="btnBuscarCli" type="button" value="Buscar" class="btn btn-sm btn-primary">
                    </div>
                </div>
            </div>
            <div class="row table-main">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="cntListaUsuarios" class="table-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-6 col-lg-offset-3">
    <div id="target2" class="move panel-inverse m-t-5" data-sortable-id="form-stuff-1" style="display: none;">
        <form role="form" data-toggle="validator" action="" id="frmUsuario" autocomplete="off" method="post" class="form-horizontal ng-pristine ng-valid">
            <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
                <div class="panel-heading">
                    <h4 class="panel-title">Datos Personales</h4>
                </div>
                <div class="panel-body">
                    <div id="msg"></div>
                    <div class="form-group m-b-5">
                        <label class="col-md-4 control-label">Nombres</label>
                        <div class="col-md-7">
                            <input type="text" id="txtNombres" name="oUsu.cNombres" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group m-b-5">
                        <label class="col-md-4 control-label">Apellido Paterno</label>
                        <div class="col-md-5">
                            <input type="text" id="txtApePa" name="oUsu.cApellidoPa" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group m-b-5">
                        <label class="col-md-4 control-label">Apellido Materno</label>
                        <div class="col-md-5">
                            <input type="text" id="txtApeMa" name="oUsu.cApellidoMa" class="form-control" required>
                        </div>
                    </div>
                    @*<div class="form-group m-b-5">
                        <label class="col-md-4 control-label">Tipo de Usuario</label>
                        <div class="col-md-7">
                            <div data-toggle="buttons" class="btn-group">
                                <label class="btn btn-default **active** active">
                                    <input type="radio" name="inputWalls" id="rbtInterno" value="1" checked="">
                                    Interno
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="inputWalls" id="rbtExterno" value="2">Externo
                                </label>
                            </div>
                        </div>
                    </div>*@
                    <div class="form-group m-b-5">
                        <label class="col-md-4 control-label">Institución</label>
                        <div class="col-md-7">
                            <input type="text" id="txtInst" name="oUsu.cInstitucion" class="form-control" required>
                        </div>
                    </div>
                    @*<div class="form-group m-b-5">
                        <label class="col-md-4 control-label">País</label>
                        <div class="col-md-5">
                            <input type="text" id="txtPais" name="oUsu.cPais" class="form-control">
                        </div>
                    </div>
                    <div class="form-group m-b-5">
                        <label class="col-md-4 control-label">Ciudad</label>
                        <div class="col-md-5">
                            <input type="text" id="txtCiudad" name="oUsu.cCiudad" class="form-control">
                        </div>
                    </div>*@
                    <div class="form-group m-b-5">
                        <label class="col-md-4 control-label">Email</label>
                        <div class="col-md-7">
                            <input type="text" id="txtEmail" name="oUsu.cEmail" class="form-control" required>
                        </div>
                    </div>
                    @*<div class="form-group m-b-5">
                        <label class="col-md-4 control-label">Fecha Nacimiento</label>
                        <div class="col-md-4">
                            <input type="text" id="txtFechaNac" name="oUsu.cFechaNacimiento" class="form-control" required>
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
                <div class="panel-heading">
                    <h4 class="panel-title">Datos de Usuario</h4>
                </div>
                <div class="panel-body" style="display: block;">
                    <div id="msg"></div>
                    @*<form role="form" data-toggle="validator" action="/Usuario/RegistrarUsuario" id="frmUsuario" autocomplete="off" method="post" class="form-horizontal ng-pristine ng-valid">*@
                    <div class="form-group m-b-5">
                        <label class="col-md-4 control-label">DNI</label>
                        <div class="col-md-4">
                            <input id="hdnUsuId" type="hidden" name="oUsu.nUsuarioId" />
                            <input type="text" id="txtDNI" name="oUsu.cDni" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group m-b-5">
                        <label id="lblCont" class="col-md-4 control-label">Contraseña</label>
                        <div class="col-md-4">
                            <input type="password" id="txtCont1" name="oUsu.cContrasena" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group m-b-5">
                        <label class="col-md-4 control-label">Confirmar Contraseña</label>
                        <div class="col-md-4">
                            <input type="password" id="txtCont2" data-match="#txtCont1" data-match-error="Whoops, these don't match" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group m-b-5">
                        <label class="col-md-4 control-label">Rol</label>
                        <div class="col-md-6 form-inline">
                            <input id="hdnPersRolId" type="hidden" name="oUsu.nRolId" />
                            <input type="text" class="form-control " id="txtRol" disabled="disabled" required>
                            <button id="btnBuscarRol" type="button" class="btn btn-sm btn-default" data-toggle="modal">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                    <div class="row m-b-10 m-t-10">
                        <div class="text-center">
                            <input type="button" id="btnGrabarUsu" class="btn btn-sm btn-primary m-r-5" value="Grabar" />
                            <input type="button" id="btnCanUsu" data-dismiss="modal" aria-hidden="true" class="btn btn-sm btn-default m-r-5" value="Cancelar" />
                        </div>
                    </div>
                </div>
            </div>
            <div id="cntHidden"></div>
        </form>
    </div>
</div>
<script type="text/javascript">


    jQuery(function ($) {
        $("#txtFechaNac").mask("99/99/9999", { placeholder: "dd/mm/yyyy" });

        $('input.target').click(function () {
            vista($(this).attr('href'));
        });
    });

    var vista = function ($target) {
        var $target = $($target),
            $other = $('.panel-inverse.active');

        if (!$target.hasClass('active')) {
            $other.each(function (index, self) {
                var $this = $(this);
                $this.removeClass('active').animate({
                    left: $this.width()
                }, 500).hide();
            });

            $target.addClass('active').show().css({
                left: -($target.width())
            }).animate({
                left: 0
            }, 500);
        }
    };

    ListarUsuarios();

    function ListarUsuarios(nPage, nSize, blo) {
        var nUsuId, cUsuDesc, cUsuName, cUsuDOI;
        var valor = $("#txtValor").val();
        valor = valor == "" ? null : valor;


        $.fn.Conexion({
            direccion: '@Url.Action("ListaUsuariosPag", "Usuario")',
            datos: { "nPage": nPage, "nSize": nSize, "cValor": valor},
            bloqueo: blo == false ? false : true,
            terminado: function (data) {
                var d = JSON.parse(data);

                $("#cntListaUsuarios").Tabla({
                    tblId: "tblUsuarios",
                    cabecera: "#,Usuario,Nombre,Rol,Email",
                    campos: "nUsuId,cDni,cNom,cRolDes,cEmail",
                    scrollVertical: "Si",
                    alinear: "C,C,L,C,C,C",
                    cellLen: "70,80,364,60,100,100,60",
                    cantRegVertical: 15,
                    pag: true,
                    pagDato: { "nPage": d.nPage, "nPageTot": d.nPageTot, "nPageSize": d.nPageSize, "nRows": d.nRows },
                    pagEvent: ListarUsuarios,
                    edit: true,
                    elim: true,
                    dblClick: true,
                    editEvent: function (fila) {
                        var nUsuId = fila.find("td").eq(0).html();
                        console.log(nUsuId);
                        $("#hdnEstado").val("E");
                        $('input.target')[0].click();
                        $("#txtUsu").attr("disabled", true);

                        $.fn.Conexion({
                            direccion: '@Url.Action("CargarDatosUsuario", "Usuario")',
                            datos: { "nUsuId": nUsuId },
                            terminado: function (data, textStatus, jqXHR) {
                                var oUsu = JSON.parse(data);

                                console.log(oUsu);
                                $("#hdnUsuId").val(oUsu.nUsuId);
                                $("#txtDNI").val(oUsu.cDni);
                                $("#txtNombres").val(oUsu.cNom);
                                $("#txtApePa").val(oUsu.cApePa);
                                $("#txtApeMa").val(oUsu.cApeMa);
                                $("#txtInst").val(oUsu.cInst);
                                $("#txtEmail").val(oUsu.cEmail);
                                $("#txtRol").val(oUsu.cRolDes);
                                $("#hdnPersRolId").val(oUsu.nRolId)
                            },
                            bloqueo: true
                        });
                    },
                    elimEvent: function (fila, nPage) {
                        var nUsuarioId = fila.find("td").eq(0).html();

                        $.fn.Conexion({
                            direccion: '@Url.Action("EliminarUsuario", "Usuario")',
                            datos: { "nUsuarioId": nUsuarioId },
                            terminado: function (data, textStatus, jqXHR) {
                                ListarUsuarios(nPage, 10);
                            },
                            bloqueo: false
                        });

                    },
                    datos: d.oLista
                });
            }
        });
    }

    $("#btnBuscarCli").bind("click", function () {
        ListarUsuarios();
    });

    $("#txtValor").keyup(function (e) {
        if (e.which == 13) { ListarUsuarios(); }
    });

    //Buscar datos persona

    var persSelec = {}

    function BuscarPersona(valor) {
        var aceptar = function (d) {
            persSelec = d;
            $("#hdnPersId").val(d.id);
            $("#txtDNI").val(d.doi);
            $("#txtNom").val(d.nom);
            $("#cmbSex input:radio").val([d.sexo]);
            $("#txtNatTel1").val(d.tel1);
            $("#txtNatDir").val(d.direc);
            $('#vntBuscaPersona').modal('hide');
        };

        var cancelar = function () {

        }
        $.fn.BuscarPersona({
            funcionAceptar: aceptar,
            funcionCancelar: cancelar,
            valor: valor
        });
    }

    //$("#btnBuscarPers").bind("click", function () {
    //    BuscarPersona($("#txtBuscarPers").val());
    //});

    //$("#txtBuscarPers").bind("keyup", function (e) {
    //    if (e.which == 13) { BuscarPersona($(this).val()); };
    //});

    $("#btnBuscarRol").bind("click", function () {
        $.fn.Ventana({
            id: "vntBuscaRol",
            titulo: "Seleccionar Rol",
            tamano: "sm"
        });

        var html = '<div class="col-md-12"><div class="row"><div id="cntListaRol" class=""></div></div></div><div class="col-sm-12 hr-line-dashed"></div><div class="row"><div class="col-sm-8 col-md-offset-4 text-right"><button id="btnRolAceptar" type="submit" class="btn btn-sm btn-primary m-r-5">Aceptar</button><button id="btnRolCancelar" type="submit" data-dismiss="modal" aria-hidden="true" class="btn btn-sm btn-default">Cancelar</button></div></div>';

        $("#vntBuscaRol .panel-body").html(html);
        $('#vntBuscaRol').modal('show');

        ListarRoles();

        $("#btnRolAceptar").bind("click", function () {
            if ($("#tblRol").find("tr.seleccionado").index() != -1) {
                var nRolId = $("#tblRol").find("tr.seleccionado").find("td").eq(0).html();
                var cRolDesc = $("#tblRol").find("tr.seleccionado").find("td").eq(1).html();

                $("#hdnPersRolId").val(nRolId);
                $("#txtRol").val(cRolDesc);
                $('#vntBuscaRol').modal('hide');
            } else {
                $.fn.Mensaje({ titulo: "Mensaje", mensaje: "Es necesario seleccionar un Rol" });
            }
        });

    });

    function ListarRoles() {
        $.fn.Conexion({
            direccion: '@Url.Action("ListaRoles", "Config")',
            terminado: function (data) {
                var d = JSON.parse(data);
                listaRoles = d;

                CrearTablaRoles(d);
            }
        });
    }

    function CrearTablaRoles(listaR) {
        $("#cntListaRol").Tabla({
            tblId: "tblRol",
            cabecera: "ID,ROLES",
            campos: "nRolId,cRolDesc",
            tblStyle: "table-inbox",
            scrollVertical: "Si",
            cellLen: "0",
            dblClick: true,
            alinear: "L,L",
            cantRegVertical: 15,
            editEvent: function (fila) {
                var nRolId = fila.find("td").eq(0).html();
                var cRolDesc = fila.find("td").eq(1).html();

                $("#hdnPersRolId").val(nRolId);
                $("#txtRol").val(cRolDesc);
                $('#vntBuscaRol').modal('hide');

            },
            datos: listaR
        });
    }

    //Registrar Usuario

    $("#btnGrabarUsu").bind("click", function () {
        var form = $("#frmUsuario");
        form.validator();

        var validator = form.data("bs.validator");
        validator.validate();

        if ($("#txtCont1").val() != $("#txtCont2").val()) {
            alerta("#msg", "Los valores de la contraseña deben de ser iguales.");
        } else if ($("#hdnPersRolId").val() == "") {
            alerta("#msg", "Es necesario indicar el Rol del usuario.");
        } else {
            if (!validator.hasErrors()) {

                var radio = $('input[name="inputWalls"]:checked').val();
                CrearHidden("#cntHidden", "oUsu.bEsInterno", (radio == "1" ? true : false));
                valores = form.serializeArray();

                $.fn.Conexion({
                    direccion: '@Url.Action("RegistrarModificarUsuario", "Usuario")',
                    datos: valores,
                    terminado: function (data, textStatus, jqXHR) {
                        Resultado(data);
                    },
                    bloqueo: false
                });
            } else {
                alerta("#msg", "Es necesario completar los campos que están en rojo.");
            }
        }
    });

    $("#btnCanUsu").bind("click", function () {
        Limpiar();
        vista("#target1");
    });

    function Limpiar() {
        $('#frmUsuario')[0].reset();
        $("#hdnPersId,#hdnEstado,#hdnPersRolId").val("");
        $("#msg").html("");
    }

    function Resultado(dato) {
        if (dato > 0) {
            if ($("#hdnEstado").val() == "E") {
                $.fn.Mensaje({ titulo: "Mensaje", mensaje: "Se modificó datos del usuario correctamente", funcionAceptar: Limpiar });
            } else {
                $.fn.Mensaje({ titulo: "Mensaje", mensaje: "Se registró datos del usuario correctamente", funcionAceptar: Limpiar });
            }
            ListarUsuarios(1, 10,false);
        } else if (dato == -1) {
            alerta("#msg", "Ya existe un usuario asignado a esta persona");
            $("#txtBuscarPers").focus();
        } else if (dato == -2) {
            alerta("#msg", "El nombre de usuario " + $("#txtUsu").val().toUpperCase() + " ya existe.");
            $("#txtBuscarPers").focus();
        } else if (dato == -3) {
            $.fn.Mensaje({ titulo: "Mensaje", mensaje: "La operación no se realizó correctamente" });
        }
    }

</script>
